* {
    background-color: antiquewhite;
}

h1 {
    color: gray;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gridElement {
    flex: 1 1 auto;
    outline: 1px solid gray;
}

.darkened {
    background-color: lightgray;
}